body{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
	height: 100vh;
}
@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
 
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.login_div{
    margin-top: 200px;
    width:  35%;
    height: 550px;
    padding: 20px;
    border-radius: 20px;
}

#Loginbtn, #SignUpbtn{
    margin-top: 30px;
    width: 90%;
    
}
h3{
    font-family: sans-serif;
    color: white;
}
h1{
    font-family: BIGJOHN; 
    font-weight: bold;
    
    color: white;
}
@font-face {
    font-family: Bloomi;
    src: url("Bloomi\ Almond\ \ Regular.ttf");
}
@font-face {
    font-family: MoglenDemo;
    src: url("Moglan_DEMO.ttf");
}
@font-face {
    font-family: BIGJOHN;
    src: url(BIG\ JOHN.otf);
}
@media(max-width: 800px){
    .login_div{
        width: 100%;
    }
}