body{
    background-image: url(abstract-psychedelic-papercut-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.login_div{
    margin-top: 100px;
    width:  35%;
    height: 550px;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
}
#logo{
    height: 90px;
    width: 90px;
    margin-bottom: 10px;
    border-radius: 50px;
}
#Loginbtn, #SignUpbtn{
    margin-top: 30px;
    width: 90%;
    
}
h3{
    font-family: sans-serif;
    color: black
}
h1{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 100px;
    color: white;
}


@media(max-width: 800px){
    .login_div{
        width: 100%;
    }
}