body{
    background-image: url(abstract-psychedelic-papercut-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#logo{
    height: 90px;
    width: 90px;
    margin-bottom: 10px;
    border-radius: 50px;
}
.login_div{
    margin:100px;
    width:  35%;
    height: 580px;
    padding: 30px;
    border-radius: 20px;
}

#Loginbtn, #SignUpbtn{
    margin-top: 30px;
    width: 90%;
    border-radius: 50px;
    width: 50%;
}
h3{
    font-family:sans-serif;
    color: black;
}
h1{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 100px;
    color: white;
}

#note{
    color: black;
}
#forgotpass{
    color: white;
}
span{
    position: absolute;
    top: 400px;
}
@media(max-width: 800px){
    .login_div{
        width: 93%;
        margin-top: 10px;
        left: 0px;
        margin-left: 10px;
    }
   
}
hr{
    width: 80%;
}
